<%= link_to 'Previous', lesson_path(@lesson) %>
<%= link_to 'Next', lesson_path(@lesson) %>

<!-- <button name="previous" id=''>Previous</button> -->
<!-- <button name="next">Next</button> -->

<h1><%= @lesson.title %></h1>
<h1><%= @lesson.content %></h1>


<p><%= link_to 'Return to lists', lessons_path %></p>
<p><%= link_to 'Edit', edit_lesson_path(@lesson) %></p>
<p><%= link_to 'Delete', lesson_path(@lesson), :data=>{:confirm => 'Are you sure?', :method => 'delete'} %></p>
